node_modules/
.DS_Store
*.log
.env*
!.env.example
.env.backup
**/.env*
!**/.env.example
**/.env.backup
dist/
build/
.netlify/
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/launch.json
