#inseme_image_container {
  margin-top: 1em;
  margin-bottom: 1em;
}

#inseme_proposition_text {
  font-size: larger;
}


#firepad {
  width: 640px;
  height: 450px;
  background-color: #f62; /* dark orange background */
}


/* Note: CodeMirror applies its own styles which can be customized in the same way.
   To apply a background to the entire editor, we need to also apply it to CodeMirror. */
.CodeMirror {
  background-color: #f62;
}

/* JHR, fix issue with material & bootstrap interaction */
#firechat .btn {
  line-height: inherit
}
#firechat *, *:before, *:after {
  box-sizing: content-box;
}
