body, #firechat message-content {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
}

#inseme_title {
  margin: 2em;
  font-size: larger;
}

#inseme_image {
  margin-top: 1em;
  margin-bottom: 1em;
}

#inseme_image a {
  margin: 1em;
}

#inseme {
  margin-bottom: 1em;
}

#inseme_proposition_text {
  font-size: larger;
}

#inseme_vote_button_ul{
  list-style-type: none;
}

.inseme_vote_button_li {
  display: inline-block;
  margin: 0.5em;
  margin-left: 0em;
}

#inseme_hangout_button {
  vertical-align: middle;
}

#inseme_you {
  display: inline;
}


.inseme_sprite {
    background-image: url(nuitdebout.png);
    background-repeat: no-repeat;
    display: block;
}

.inseme_sprite-ok {
    width: 54px;
    height: 54px;
    background-position: -5px -10px;
}

.inseme_sprite-no {
    width: 54px;
    height: 54px;
    background-position: -121px -14px;
}

.inseme_sprite-block {
    width: 54px;
    height: 54px;
    background-position: -183px -14px;
}

.inseme_sprite-talk {
    width: 54px;
    height: 54px;
    background-position: -299px -14px;
}

.inseme_sprite-volume {
    width: 54px;
    height: 54px;
    background-position: -244px -14px;
}

.inseme_sprite-point {
    width: 54px;
    height: 54px;
    background-position: -410px -14px;
}

.inseme_sprite-repeat {
    width: 54px;
    height: 54px;
    background-position: -357px -10px;
}

.inseme_sprite-silence {
    width: 54px;
    height: 54px;
    background-position: -60px -14px;
}

.inseme_cold_state {
  font-size: smaller;
  color: gray;
}

#inseme_results {
  width: auto;
}

#inseme_results table {
  border-collapse: collapse;
}
#inseme_results td, th {
  border: 1px solid black;
}

#inseme_social_buttons {
  display: inline-block;
}

#inseme_social_buttons iframe {
	vertical-align: middle;
}

#firepad {
  width: 640px;
  height: 450px;
  background-color: #BBDEFB;
}


/* Note: CodeMirror applies its own styles which can be customized in the same way.
   To apply a background to the entire editor, we need to also apply it to CodeMirror. */
.CodeMirror {
  background-color: #BBDEFB;
}

/* JHR, fix issue with material & bootstrap interaction */
#firechat .btn {
  line-height: inherit
}
#firechat *, *:before, *:after {
  box-sizing: content-box;
}
