#inseme_image_container {
  margin-top: 1em;
  margin-bottom: 1em;
}

#inseme {
  margin-bottom: 1em;
}

.inseme_vote_button {
  /* margin-left: 10px; */
}

#inseme_proposition_text {
  font-size: larger;
}

#inseme_vote_button_ul{
  list-style-type: none;
}

.inseme_vote_button_li{
  display: inline-block;
  margin: 0.5em;
  margin-left: 0em;
}


#firepad {
  width: 640px;
  height: 450px;
  background-color: #f62; /* dark orange background */
}


/* Note: CodeMirror applies its own styles which can be customized in the same way.
   To apply a background to the entire editor, we need to also apply it to CodeMirror. */
.CodeMirror {
  background-color: #f62;
}

/* JHR, fix issue with material & bootstrap interaction */
#firechat .btn {
  line-height: inherit
}
#firechat *, *:before, *:after {
  box-sizing: content-box;
}
